/moodledata/
/phpunitdata/
/bht_moodledata/
# git ignore in parent folder, let sub folder git manage itself
/public/

/.ddev/config.yaml
/.ddev/config.selenium-standalone-chrome.yaml
/.ddev/docker-compose.selenium-chrome.yaml
/.ddev/addon-metadata/ddev-selenium-standalone-chrome/manifest.yaml
/public/behat.yml.dist
