<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/public/lib/guzzlehttp/psr7/tests" />
        <option value="$PROJECT_DIR$/public/lib/ralouphie/getallheaders/tests" />
        <option value="$PROJECT_DIR$/public/lib/php-jwt/tests" />
        <option value="$PROJECT_DIR$/public/lib/maxmind/MaxMind/tests" />
        <option value="$PROJECT_DIR$/public/lib/guzzlehttp/kevinrob/guzzlecache/tests" />
        <option value="$PROJECT_DIR$/public/lib/guzzlehttp/guzzle/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/mfa/factor/totp/extlib/OTPHP/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/mfa/factor/totp/extlib/ParagonIE/ConstantTime/tests" />
        <option value="$PROJECT_DIR$/public/lib/phpunit/tests" />
        <option value="$PROJECT_DIR$/public/lib/testing" />
        <option value="$PROJECT_DIR$/public/lib/ddl/tests" />
        <option value="$PROJECT_DIR$/public/lib/dml/tests" />
        <option value="$PROJECT_DIR$/public/lib/tests" />
        <option value="$PROJECT_DIR$/public/lib/external/tests" />
        <option value="$PROJECT_DIR$/public/favourites/tests" />
        <option value="$PROJECT_DIR$/public/lib/form/tests" />
        <option value="$PROJECT_DIR$/public/lib/filestorage/tests" />
        <option value="$PROJECT_DIR$/public/lib/filebrowser/tests" />
        <option value="$PROJECT_DIR$/public/files/tests" />
        <option value="$PROJECT_DIR$/public/filter/tests" />
        <option value="$PROJECT_DIR$/public/admin/roles/tests" />
        <option value="$PROJECT_DIR$/public/cohort/tests" />
        <option value="$PROJECT_DIR$/public/lib/grade/tests" />
        <option value="$PROJECT_DIR$/public/grade/tests" />
        <option value="$PROJECT_DIR$/public/grade/grading/tests" />
        <option value="$PROJECT_DIR$/public/grade/import/csv/tests" />
        <option value="$PROJECT_DIR$/public/analytics/tests" />
        <option value="$PROJECT_DIR$/public/availability/tests" />
        <option value="$PROJECT_DIR$/public/backup/controller/tests" />
        <option value="$PROJECT_DIR$/public/backup/converter/moodle1/tests" />
        <option value="$PROJECT_DIR$/public/backup/moodle2/tests" />
        <option value="$PROJECT_DIR$/public/backup/tests" />
        <option value="$PROJECT_DIR$/public/backup/util" />
        <option value="$PROJECT_DIR$/public/badges/tests" />
        <option value="$PROJECT_DIR$/public/blog/tests" />
        <option value="$PROJECT_DIR$/public/customfield/tests" />
        <option value="$PROJECT_DIR$/public/iplookup/tests" />
        <option value="$PROJECT_DIR$/public/course/tests" />
        <option value="$PROJECT_DIR$/public/course/format/tests" />
        <option value="$PROJECT_DIR$/public/privacy/tests" />
        <option value="$PROJECT_DIR$/public/question/engine/tests" />
        <option value="$PROJECT_DIR$/public/question/tests" />
        <option value="$PROJECT_DIR$/public/question/type/tests" />
        <option value="$PROJECT_DIR$/public/question/engine/upgrade/tests" />
        <option value="$PROJECT_DIR$/public/cache/tests" />
        <option value="$PROJECT_DIR$/public/calendar/tests" />
        <option value="$PROJECT_DIR$/public/enrol/tests" />
        <option value="$PROJECT_DIR$/public/group/tests" />
        <option value="$PROJECT_DIR$/public/message/tests" />
        <option value="$PROJECT_DIR$/public/notes/tests" />
        <option value="$PROJECT_DIR$/public/tag/tests" />
        <option value="$PROJECT_DIR$/public/rating/tests" />
        <option value="$PROJECT_DIR$/public/repository/tests" />
        <option value="$PROJECT_DIR$/public/lib/userkey/tests" />
        <option value="$PROJECT_DIR$/public/user/tests" />
        <option value="$PROJECT_DIR$/public/webservice/tests" />
        <option value="$PROJECT_DIR$/public/mnet/tests" />
        <option value="$PROJECT_DIR$/public/completion/tests" />
        <option value="$PROJECT_DIR$/public/comment/tests" />
        <option value="$PROJECT_DIR$/public/search/tests" />
        <option value="$PROJECT_DIR$/public/competency/tests" />
        <option value="$PROJECT_DIR$/public/my/tests" />
        <option value="$PROJECT_DIR$/public/auth/tests" />
        <option value="$PROJECT_DIR$/public/blocks/tests" />
        <option value="$PROJECT_DIR$/public/login/tests" />
        <option value="$PROJECT_DIR$/public/plagiarism/tests" />
        <option value="$PROJECT_DIR$/public/portfolio/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/tests" />
        <option value="$PROJECT_DIR$/public/rss/tests" />
        <option value="$PROJECT_DIR$/public/lib/table/tests" />
        <option value="$PROJECT_DIR$/public/h5p/tests" />
        <option value="$PROJECT_DIR$/public/lib/xapi/tests" />
        <option value="$PROJECT_DIR$/public/contentbank/tests" />
        <option value="$PROJECT_DIR$/public/payment/tests" />
        <option value="$PROJECT_DIR$/public/reportbuilder/tests" />
        <option value="$PROJECT_DIR$/public/admin/presets/tests" />
        <option value="$PROJECT_DIR$/public/admin/tests" />
        <option value="$PROJECT_DIR$/public/communication/tests" />
        <option value="$PROJECT_DIR$/public/lib/antivirus/clamav/tests" />
        <option value="$PROJECT_DIR$/public/mod/assign/feedback/comments/tests" />
        <option value="$PROJECT_DIR$/public/mod/assign/feedback/editpdf/tests" />
        <option value="$PROJECT_DIR$/public/mod/assign/feedback/file/tests" />
        <option value="$PROJECT_DIR$/public/mod/assign/submission/comments/tests" />
        <option value="$PROJECT_DIR$/public/mod/assign/submission/file/tests" />
        <option value="$PROJECT_DIR$/public/mod/assign/submission/onlinetext/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/atto/plugins/accessibilitychecker/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/atto/plugins/accessibilityhelper/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/atto/plugins/align/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/atto/plugins/bold/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/atto/plugins/charmap/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/atto/plugins/clear/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/atto/plugins/collapse/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/atto/plugins/equation/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/atto/plugins/h5p/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/atto/plugins/html/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/atto/plugins/image/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/atto/plugins/indent/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/atto/plugins/italic/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/atto/plugins/link/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/atto/plugins/media/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/atto/plugins/orderedlist/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/atto/plugins/strike/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/atto/plugins/subscript/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/atto/plugins/superscript/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/atto/plugins/table/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/atto/plugins/title/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/atto/plugins/underline/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/atto/plugins/unorderedlist/tests" />
        <option value="$PROJECT_DIR$/public/auth/db/tests" />
        <option value="$PROJECT_DIR$/public/auth/email/tests" />
        <option value="$PROJECT_DIR$/public/auth/ldap/tests" />
        <option value="$PROJECT_DIR$/public/auth/lti/tests" />
        <option value="$PROJECT_DIR$/public/auth/manual/tests" />
        <option value="$PROJECT_DIR$/public/auth/mnet/tests" />
        <option value="$PROJECT_DIR$/public/auth/oauth2/tests" />
        <option value="$PROJECT_DIR$/public/availability/condition/completion/tests" />
        <option value="$PROJECT_DIR$/public/availability/condition/date/tests" />
        <option value="$PROJECT_DIR$/public/availability/condition/grade/tests" />
        <option value="$PROJECT_DIR$/public/availability/condition/group/tests" />
        <option value="$PROJECT_DIR$/public/availability/condition/grouping/tests" />
        <option value="$PROJECT_DIR$/public/availability/condition/profile/tests" />
        <option value="$PROJECT_DIR$/public/blocks/accessreview/tests" />
        <option value="$PROJECT_DIR$/public/blocks/activity_modules/tests" />
        <option value="$PROJECT_DIR$/public/blocks/activity_results/tests" />
        <option value="$PROJECT_DIR$/public/blocks/admin_bookmarks/tests" />
        <option value="$PROJECT_DIR$/public/blocks/badges/tests" />
        <option value="$PROJECT_DIR$/public/blocks/blog_menu/tests" />
        <option value="$PROJECT_DIR$/public/blocks/blog_recent/tests" />
        <option value="$PROJECT_DIR$/public/blocks/blog_tags/tests" />
        <option value="$PROJECT_DIR$/public/blocks/calendar_month/tests" />
        <option value="$PROJECT_DIR$/public/blocks/calendar_upcoming/tests" />
        <option value="$PROJECT_DIR$/public/blocks/comments/tests" />
        <option value="$PROJECT_DIR$/public/blocks/completionstatus/tests" />
        <option value="$PROJECT_DIR$/public/blocks/course_list/tests" />
        <option value="$PROJECT_DIR$/public/blocks/course_summary/tests" />
        <option value="$PROJECT_DIR$/public/blocks/globalsearch/tests" />
        <option value="$PROJECT_DIR$/public/blocks/glossary_random/tests" />
        <option value="$PROJECT_DIR$/public/blocks/html/tests" />
        <option value="$PROJECT_DIR$/public/blocks/login/tests" />
        <option value="$PROJECT_DIR$/public/blocks/lp/tests" />
        <option value="$PROJECT_DIR$/public/blocks/mentees/tests" />
        <option value="$PROJECT_DIR$/public/blocks/mnet_hosts/tests" />
        <option value="$PROJECT_DIR$/public/blocks/myoverview/tests" />
        <option value="$PROJECT_DIR$/public/blocks/myprofile/tests" />
        <option value="$PROJECT_DIR$/public/blocks/navigation/tests" />
        <option value="$PROJECT_DIR$/public/blocks/news_items/tests" />
        <option value="$PROJECT_DIR$/public/blocks/online_users/tests" />
        <option value="$PROJECT_DIR$/public/blocks/private_files/tests" />
        <option value="$PROJECT_DIR$/public/blocks/recent_activity/tests" />
        <option value="$PROJECT_DIR$/public/blocks/recentlyaccessedcourses/tests" />
        <option value="$PROJECT_DIR$/public/blocks/recentlyaccesseditems/tests" />
        <option value="$PROJECT_DIR$/public/blocks/rss_client/tests" />
        <option value="$PROJECT_DIR$/public/blocks/search_forums/tests" />
        <option value="$PROJECT_DIR$/public/blocks/section_links/tests" />
        <option value="$PROJECT_DIR$/public/blocks/site_main_menu/tests" />
        <option value="$PROJECT_DIR$/public/blocks/social_activities/tests" />
        <option value="$PROJECT_DIR$/public/blocks/tag_flickr/tests" />
        <option value="$PROJECT_DIR$/public/blocks/tag_youtube/tests" />
        <option value="$PROJECT_DIR$/public/blocks/tags/tests" />
        <option value="$PROJECT_DIR$/public/blocks/timeline/tests" />
        <option value="$PROJECT_DIR$/public/mod/book/tool/exportimscp/tests" />
        <option value="$PROJECT_DIR$/public/mod/book/tool/importhtml/tests" />
        <option value="$PROJECT_DIR$/public/mod/book/tool/print/tests" />
        <option value="$PROJECT_DIR$/public/cache/stores/apcu/tests" />
        <option value="$PROJECT_DIR$/public/cache/stores/file/tests" />
        <option value="$PROJECT_DIR$/public/cache/stores/redis/tests" />
        <option value="$PROJECT_DIR$/public/cache/stores/session/tests" />
        <option value="$PROJECT_DIR$/public/cache/stores/static/tests" />
        <option value="$PROJECT_DIR$/public/communication/provider/customlink/tests" />
        <option value="$PROJECT_DIR$/public/communication/provider/matrix/tests" />
        <option value="$PROJECT_DIR$/public/contentbank/contenttype/h5p/tests" />
        <option value="$PROJECT_DIR$/public/customfield/field/checkbox/tests" />
        <option value="$PROJECT_DIR$/public/customfield/field/date/tests" />
        <option value="$PROJECT_DIR$/public/customfield/field/select/tests" />
        <option value="$PROJECT_DIR$/public/customfield/field/text/tests" />
        <option value="$PROJECT_DIR$/public/customfield/field/textarea/tests" />
        <option value="$PROJECT_DIR$/public/dataformat/excel/tests" />
        <option value="$PROJECT_DIR$/public/dataformat/ods/tests" />
        <option value="$PROJECT_DIR$/public/dataformat/pdf/tests" />
        <option value="$PROJECT_DIR$/public/mod/data/preset/imagegallery/tests" />
        <option value="$PROJECT_DIR$/public/mod/data/preset/journal/tests" />
        <option value="$PROJECT_DIR$/public/mod/data/preset/proposals/tests" />
        <option value="$PROJECT_DIR$/public/mod/data/preset/resources/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/atto/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/textarea/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/tiny/tests" />
        <option value="$PROJECT_DIR$/public/enrol/category/tests" />
        <option value="$PROJECT_DIR$/public/enrol/cohort/tests" />
        <option value="$PROJECT_DIR$/public/enrol/database/tests" />
        <option value="$PROJECT_DIR$/public/enrol/fee/tests" />
        <option value="$PROJECT_DIR$/public/enrol/flatfile/tests" />
        <option value="$PROJECT_DIR$/public/enrol/guest/tests" />
        <option value="$PROJECT_DIR$/public/enrol/imsenterprise/tests" />
        <option value="$PROJECT_DIR$/public/enrol/ldap/tests" />
        <option value="$PROJECT_DIR$/public/enrol/lti/tests" />
        <option value="$PROJECT_DIR$/public/enrol/manual/tests" />
        <option value="$PROJECT_DIR$/public/enrol/meta/tests" />
        <option value="$PROJECT_DIR$/public/enrol/paypal/tests" />
        <option value="$PROJECT_DIR$/public/enrol/self/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/mfa/factor/cohort/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/mfa/factor/email/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/mfa/factor/grace/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/mfa/factor/role/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/mfa/factor/token/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/mfa/factor/totp/tests" />
        <option value="$PROJECT_DIR$/public/files/converter/googledrive/tests" />
        <option value="$PROJECT_DIR$/public/files/converter/unoconv/tests" />
        <option value="$PROJECT_DIR$/public/filter/activitynames/tests" />
        <option value="$PROJECT_DIR$/public/filter/algebra/tests" />
        <option value="$PROJECT_DIR$/public/filter/codehighlighter/tests" />
        <option value="$PROJECT_DIR$/public/filter/data/tests" />
        <option value="$PROJECT_DIR$/public/filter/displayh5p/tests" />
        <option value="$PROJECT_DIR$/public/filter/emoticon/tests" />
        <option value="$PROJECT_DIR$/public/filter/glossary/tests" />
        <option value="$PROJECT_DIR$/public/filter/mathjaxloader/tests" />
        <option value="$PROJECT_DIR$/public/filter/mediaplugin/tests" />
        <option value="$PROJECT_DIR$/public/filter/multilang/tests" />
        <option value="$PROJECT_DIR$/public/filter/tex/tests" />
        <option value="$PROJECT_DIR$/public/filter/urltolink/tests" />
        <option value="$PROJECT_DIR$/public/course/format/singleactivity/tests" />
        <option value="$PROJECT_DIR$/public/course/format/social/tests" />
        <option value="$PROJECT_DIR$/public/course/format/topics/tests" />
        <option value="$PROJECT_DIR$/public/course/format/weeks/tests" />
        <option value="$PROJECT_DIR$/public/mod/forum/report/summary/tests" />
        <option value="$PROJECT_DIR$/public/grade/export/ods/tests" />
        <option value="$PROJECT_DIR$/public/grade/export/txt/tests" />
        <option value="$PROJECT_DIR$/public/grade/export/xls/tests" />
        <option value="$PROJECT_DIR$/public/grade/export/xml/tests" />
        <option value="$PROJECT_DIR$/public/grade/report/grader/tests" />
        <option value="$PROJECT_DIR$/public/grade/report/history/tests" />
        <option value="$PROJECT_DIR$/public/grade/report/overview/tests" />
        <option value="$PROJECT_DIR$/public/grade/report/singleview/tests" />
        <option value="$PROJECT_DIR$/public/grade/report/user/tests" />
        <option value="$PROJECT_DIR$/public/grade/grading/form/guide/tests" />
        <option value="$PROJECT_DIR$/public/grade/grading/form/rubric/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/log/store/database/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/log/store/standard/tests" />
        <option value="$PROJECT_DIR$/public/mod/lti/service/gradebookservices/tests" />
        <option value="$PROJECT_DIR$/public/mod/lti/service/memberships/tests" />
        <option value="$PROJECT_DIR$/public/media/player/html5audio/tests" />
        <option value="$PROJECT_DIR$/public/media/player/html5video/tests" />
        <option value="$PROJECT_DIR$/public/media/player/videojs/tests" />
        <option value="$PROJECT_DIR$/public/media/player/vimeo/tests" />
        <option value="$PROJECT_DIR$/public/media/player/youtube/tests" />
        <option value="$PROJECT_DIR$/public/message/output/airnotifier/tests" />
        <option value="$PROJECT_DIR$/public/message/output/email/tests" />
        <option value="$PROJECT_DIR$/public/message/output/popup/tests" />
        <option value="$PROJECT_DIR$/public/lib/mlbackend/python/tests" />
        <option value="$PROJECT_DIR$/public/mnet/service/enrol/tests" />
        <option value="$PROJECT_DIR$/public/mod/assign/tests" />
        <option value="$PROJECT_DIR$/public/mod/bigbluebuttonbn/tests" />
        <option value="$PROJECT_DIR$/public/mod/book/tests" />
        <option value="$PROJECT_DIR$/public/mod/chat/tests" />
        <option value="$PROJECT_DIR$/public/mod/choice/tests" />
        <option value="$PROJECT_DIR$/public/mod/data/tests" />
        <option value="$PROJECT_DIR$/public/mod/feedback/tests" />
        <option value="$PROJECT_DIR$/public/mod/folder/tests" />
        <option value="$PROJECT_DIR$/public/mod/forum/tests" />
        <option value="$PROJECT_DIR$/public/mod/glossary/tests" />
        <option value="$PROJECT_DIR$/public/mod/h5pactivity/tests" />
        <option value="$PROJECT_DIR$/public/mod/imscp/tests" />
        <option value="$PROJECT_DIR$/public/mod/label/tests" />
        <option value="$PROJECT_DIR$/public/mod/lesson/tests" />
        <option value="$PROJECT_DIR$/public/mod/lti/tests" />
        <option value="$PROJECT_DIR$/public/mod/page/tests" />
        <option value="$PROJECT_DIR$/public/mod/quiz/tests" />
        <option value="$PROJECT_DIR$/public/mod/resource/tests" />
        <option value="$PROJECT_DIR$/public/mod/scorm/tests" />
        <option value="$PROJECT_DIR$/public/mod/survey/tests" />
        <option value="$PROJECT_DIR$/public/mod/url/tests" />
        <option value="$PROJECT_DIR$/public/mod/wiki/tests" />
        <option value="$PROJECT_DIR$/public/mod/workshop/tests" />
        <option value="$PROJECT_DIR$/public/portfolio/flickr/tests" />
        <option value="$PROJECT_DIR$/public/portfolio/googledocs/tests" />
        <option value="$PROJECT_DIR$/public/portfolio/mahara/tests" />
        <option value="$PROJECT_DIR$/public/user/profile/field/checkbox/tests" />
        <option value="$PROJECT_DIR$/public/user/profile/field/datetime/tests" />
        <option value="$PROJECT_DIR$/public/user/profile/field/menu/tests" />
        <option value="$PROJECT_DIR$/public/user/profile/field/social/tests" />
        <option value="$PROJECT_DIR$/public/user/profile/field/text/tests" />
        <option value="$PROJECT_DIR$/public/user/profile/field/textarea/tests" />
        <option value="$PROJECT_DIR$/public/question/bank/bulkmove/tests" />
        <option value="$PROJECT_DIR$/public/question/bank/columnsortorder/tests" />
        <option value="$PROJECT_DIR$/public/question/bank/comment/tests" />
        <option value="$PROJECT_DIR$/public/question/bank/customfields/tests" />
        <option value="$PROJECT_DIR$/public/question/bank/deletequestion/tests" />
        <option value="$PROJECT_DIR$/public/question/bank/editquestion/tests" />
        <option value="$PROJECT_DIR$/public/question/bank/exporttoxml/tests" />
        <option value="$PROJECT_DIR$/public/question/bank/history/tests" />
        <option value="$PROJECT_DIR$/public/question/bank/managecategories/tests" />
        <option value="$PROJECT_DIR$/public/question/bank/previewquestion/tests" />
        <option value="$PROJECT_DIR$/public/question/bank/statistics/tests" />
        <option value="$PROJECT_DIR$/public/question/bank/tagquestion/tests" />
        <option value="$PROJECT_DIR$/public/question/bank/usage/tests" />
        <option value="$PROJECT_DIR$/public/question/bank/viewcreator/tests" />
        <option value="$PROJECT_DIR$/public/question/bank/viewquestionname/tests" />
        <option value="$PROJECT_DIR$/public/question/bank/viewquestiontext/tests" />
        <option value="$PROJECT_DIR$/public/question/bank/viewquestiontype/tests" />
        <option value="$PROJECT_DIR$/public/question/behaviour/adaptive/tests" />
        <option value="$PROJECT_DIR$/public/question/behaviour/adaptivenopenalty/tests" />
        <option value="$PROJECT_DIR$/public/question/behaviour/deferredcbm/tests" />
        <option value="$PROJECT_DIR$/public/question/behaviour/deferredfeedback/tests" />
        <option value="$PROJECT_DIR$/public/question/behaviour/immediatecbm/tests" />
        <option value="$PROJECT_DIR$/public/question/behaviour/immediatefeedback/tests" />
        <option value="$PROJECT_DIR$/public/question/behaviour/informationitem/tests" />
        <option value="$PROJECT_DIR$/public/question/behaviour/interactive/tests" />
        <option value="$PROJECT_DIR$/public/question/behaviour/interactivecountback/tests" />
        <option value="$PROJECT_DIR$/public/question/behaviour/manualgraded/tests" />
        <option value="$PROJECT_DIR$/public/question/behaviour/missing/tests" />
        <option value="$PROJECT_DIR$/public/question/format/aiken/tests" />
        <option value="$PROJECT_DIR$/public/question/format/blackboard_six/tests" />
        <option value="$PROJECT_DIR$/public/question/format/gift/tests" />
        <option value="$PROJECT_DIR$/public/question/format/missingword/tests" />
        <option value="$PROJECT_DIR$/public/question/format/multianswer/tests" />
        <option value="$PROJECT_DIR$/public/question/format/xml/tests" />
        <option value="$PROJECT_DIR$/public/question/type/calculated/tests" />
        <option value="$PROJECT_DIR$/public/question/type/calculatedmulti/tests" />
        <option value="$PROJECT_DIR$/public/question/type/calculatedsimple/tests" />
        <option value="$PROJECT_DIR$/public/question/type/ddimageortext/tests" />
        <option value="$PROJECT_DIR$/public/question/type/ddmarker/tests" />
        <option value="$PROJECT_DIR$/public/question/type/ddwtos/tests" />
        <option value="$PROJECT_DIR$/public/question/type/description/tests" />
        <option value="$PROJECT_DIR$/public/question/type/essay/tests" />
        <option value="$PROJECT_DIR$/public/question/type/gapselect/tests" />
        <option value="$PROJECT_DIR$/public/question/type/match/tests" />
        <option value="$PROJECT_DIR$/public/question/type/missingtype/tests" />
        <option value="$PROJECT_DIR$/public/question/type/multianswer/tests" />
        <option value="$PROJECT_DIR$/public/question/type/multichoice/tests" />
        <option value="$PROJECT_DIR$/public/question/type/numerical/tests" />
        <option value="$PROJECT_DIR$/public/question/type/random/tests" />
        <option value="$PROJECT_DIR$/public/question/type/randomsamatch/tests" />
        <option value="$PROJECT_DIR$/public/question/type/shortanswer/tests" />
        <option value="$PROJECT_DIR$/public/question/type/truefalse/tests" />
        <option value="$PROJECT_DIR$/public/mod/quiz/report/grading/tests" />
        <option value="$PROJECT_DIR$/public/mod/quiz/report/overview/tests" />
        <option value="$PROJECT_DIR$/public/mod/quiz/report/responses/tests" />
        <option value="$PROJECT_DIR$/public/mod/quiz/report/statistics/tests" />
        <option value="$PROJECT_DIR$/public/mod/quiz/accessrule/delaybetweenattempts/tests" />
        <option value="$PROJECT_DIR$/public/mod/quiz/accessrule/ipaddress/tests" />
        <option value="$PROJECT_DIR$/public/mod/quiz/accessrule/numattempts/tests" />
        <option value="$PROJECT_DIR$/public/mod/quiz/accessrule/offlineattempts/tests" />
        <option value="$PROJECT_DIR$/public/mod/quiz/accessrule/openclosedate/tests" />
        <option value="$PROJECT_DIR$/public/mod/quiz/accessrule/password/tests" />
        <option value="$PROJECT_DIR$/public/mod/quiz/accessrule/seb/tests" />
        <option value="$PROJECT_DIR$/public/mod/quiz/accessrule/securewindow/tests" />
        <option value="$PROJECT_DIR$/public/mod/quiz/accessrule/timelimit/tests" />
        <option value="$PROJECT_DIR$/public/report/competency/tests" />
        <option value="$PROJECT_DIR$/public/report/completion/tests" />
        <option value="$PROJECT_DIR$/public/report/configlog/tests" />
        <option value="$PROJECT_DIR$/public/report/eventlist/tests" />
        <option value="$PROJECT_DIR$/public/report/insights/tests" />
        <option value="$PROJECT_DIR$/public/report/log/tests" />
        <option value="$PROJECT_DIR$/public/report/loglive/tests" />
        <option value="$PROJECT_DIR$/public/report/outline/tests" />
        <option value="$PROJECT_DIR$/public/report/participation/tests" />
        <option value="$PROJECT_DIR$/public/report/progress/tests" />
        <option value="$PROJECT_DIR$/public/report/questioninstances/tests" />
        <option value="$PROJECT_DIR$/public/report/stats/tests" />
        <option value="$PROJECT_DIR$/public/report/usersessions/tests" />
        <option value="$PROJECT_DIR$/public/repository/contentbank/tests" />
        <option value="$PROJECT_DIR$/public/repository/coursefiles/tests" />
        <option value="$PROJECT_DIR$/public/repository/dropbox/tests" />
        <option value="$PROJECT_DIR$/public/repository/equella/tests" />
        <option value="$PROJECT_DIR$/public/repository/filesystem/tests" />
        <option value="$PROJECT_DIR$/public/repository/flickr/tests" />
        <option value="$PROJECT_DIR$/public/repository/flickr_public/tests" />
        <option value="$PROJECT_DIR$/public/repository/googledocs/tests" />
        <option value="$PROJECT_DIR$/public/repository/local/tests" />
        <option value="$PROJECT_DIR$/public/repository/merlot/tests" />
        <option value="$PROJECT_DIR$/public/repository/nextcloud/tests" />
        <option value="$PROJECT_DIR$/public/repository/onedrive/tests" />
        <option value="$PROJECT_DIR$/public/repository/recent/tests" />
        <option value="$PROJECT_DIR$/public/repository/s3/tests" />
        <option value="$PROJECT_DIR$/public/repository/upload/tests" />
        <option value="$PROJECT_DIR$/public/repository/url/tests" />
        <option value="$PROJECT_DIR$/public/repository/user/tests" />
        <option value="$PROJECT_DIR$/public/repository/webdav/tests" />
        <option value="$PROJECT_DIR$/public/repository/wikimedia/tests" />
        <option value="$PROJECT_DIR$/public/repository/youtube/tests" />
        <option value="$PROJECT_DIR$/public/mod/scorm/report/basic/tests" />
        <option value="$PROJECT_DIR$/public/mod/scorm/report/interactions/tests" />
        <option value="$PROJECT_DIR$/public/mod/scorm/report/objectives/tests" />
        <option value="$PROJECT_DIR$/public/search/engine/simpledb/tests" />
        <option value="$PROJECT_DIR$/public/search/engine/solr/tests" />
        <option value="$PROJECT_DIR$/public/theme/boost/tests" />
        <option value="$PROJECT_DIR$/public/theme/classic/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/tiny/plugins/accessibilitychecker/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/tiny/plugins/autosave/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/tiny/plugins/equation/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/tiny/plugins/h5p/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/tiny/plugins/html/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/tiny/plugins/link/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/tiny/plugins/media/tests" />
        <option value="$PROJECT_DIR$/public/lib/editor/tiny/plugins/noautolink/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/admin_presets/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/analytics/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/availabilityconditions/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/behat/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/brickfield/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/capability/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/cohortroles/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/customlang/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/dataprivacy/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/filetypes/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/generator/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/httpsreplace/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/installaddon/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/langimport/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/licensemanager/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/log/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/lp/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/lpimportcsv/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/lpmigrate/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/messageinbound/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/mfa/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/mobile/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/monitor/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/moodlenet/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/oauth2/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/policy/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/recyclebin/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/task/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/templatelibrary/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/uploadcourse/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/uploaduser/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/usertours/tests" />
        <option value="$PROJECT_DIR$/public/admin/tool/xmldb/tests" />
        <option value="$PROJECT_DIR$/public/webservice/rest/tests" />
        <option value="$PROJECT_DIR$/public/webservice/soap/tests" />
        <option value="$PROJECT_DIR$/public/mod/workshop/allocation/manual/tests" />
        <option value="$PROJECT_DIR$/public/mod/workshop/allocation/random/tests" />
        <option value="$PROJECT_DIR$/public/mod/workshop/allocation/scheduled/tests" />
        <option value="$PROJECT_DIR$/public/mod/workshop/eval/best/tests" />
        <option value="$PROJECT_DIR$/public/mod/workshop/form/accumulative/tests" />
        <option value="$PROJECT_DIR$/public/mod/workshop/form/comments/tests" />
        <option value="$PROJECT_DIR$/public/mod/workshop/form/numerrors/tests" />
        <option value="$PROJECT_DIR$/public/mod/workshop/form/rubric/tests" />
      </list>
    </option>
  </component>
</project>